@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    background: #10171e;
    color: #8899a6;
    font-family: 'Work Sans', sans-serif
}
a {
    color: #FF691F;
    text-decoration: none;
}
a:hover {
    color: #FF712F;
    border-bottom: yellowgreen 1px solid;
}

.container {
    max-width: 1200px;
}

.centered {
    display: block;
    text-align: center;
}
.maBox {
    background: rgb(21, 32, 43);
    padding: 1em;
    border: #333 solid 1px;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.headimg {
    background-image: linear-gradient(#10171e22, #10171eff);
    background-size: cover;
    background-repeat: no-repeat;
    height: 55vh;
    color: whitesmoke;
    padding-top: 3em;
}
.boxed {
    border: 1px solid #333;
}
.odd {
    background: rgb(21, 32, 43);
}
.even {
    background: rgb(31, 42, 53);
}
.textual a {
    font-weight: bold;
}
.hovme {
    background: rgb(21, 32, 43);
    transition: background 0.5s ease;
}
.hovme:hover {
    background: rgb(31, 42, 53);
}
footer {
    background: rgb(21, 32, 43);
    margin: 0;
    padding: 0;
}

hr {
    border-color: rgb(31, 42, 53);
}

